BODY {
  background: #EEFFEE;
}
DIV.title {
  text-align: center;
}
DIV.body {
  line-height: 150%;
  margin-left: 5%;
  margin-right: 2%;
}
H1.title {
  text-align: center;
}
UL { 
 line-height: 125%; 
}
OL {
  line-height: 125%; 
}
LI {
  line-height: normal; 
}
P.body {
  text-indent: 1em;
  line-height: 150%
}
P.text {
  text-indent: 1em;
  line-height: 150%
}
P.center {
  text-align: center;
}
P.footer {
  text-align: right;
}
P.right {
  text-align: right;
}
P.author {
  margin-right: 4%;
  text-align: right;
}
P.title {
  text-align: right;
}
P.lmargin {
  margin-left: 3%;
}
li {
  line-height: 1.2;
}
