body {
  background: white;
}

div.title {
	text-align: center;
}

div.abstract {
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}

div.body {
	text-align: justify;
	margin-left: 1%;
}

ul {
	line-height: 1.4;
}

ol {
	line-height: 1.4:
}

p {
	line-height: 1.4;
}

p.footnote {
	margin-left: 5%;
	font-size: smaller;
}

p.pict {
	line-height: normal;
}

