body {
  background: #EEFFEE
}

div {
  line-height: 150%;
  margin-left: 5%;
  margin-right: 2%;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 2em;
}

p.author {
  margin-right: 5%;
  text-align: right;
  font-size: 120%
}

P.text {
  text-indent: 1em;
}

p.note {
  font-size: 90%;
}

span.subtitle {
  font-size: 90%;
}

span.indent {
  margin-left: 2em;
}
